<?xml version="1.0"?>
<extensions>
  <details>
    <title lang="EN">Squeeze-EQ</title>
  </details>
  <plugins>
    <plugin name="SqueezeBoxEQ" version="0.9.34" minTarget="7.3.0" maxTarget="*">
      <title lang="EN">SqueezeBoxEQ</title>
      <desc lang="EN">DSP for Squeezebox server based of Inguz</desc>

      <url>https://github.com/Foxenfurter/SqueezeBoxEQ/raw/main/InguzEQ.zip</url>
      <sha>dddf2d415b18c9c75121ba801ab0423f6bc64801</sha>
      <creator>Jonathan Fox</creator>
    </plugin>
  </plugins>
</extensions>
