<?xml version="1.0"?>
<extensions>
  <details>
    <title lang="EN">Squeeze-EQ</title>
  </details>
  <plugins>
    <plugin name="InguzEQ" version="0.9.37" minTarget="7.3.0" maxTarget="*">
      <title lang="EN">SqueezeboxEQ</title>
      <desc lang="EN">DSP for Squeezebox server based of Inguz</desc>

      <url>https://github.com/Foxenfurter/SqueezeBoxEQ/raw/main/SqueezeboxEQ.zip</url>
      <sha>38f25317050189f61beb027280a8f4fdb2453267</sha>
      <creator>Jonathan Fox</creator>
      <sha1-tool>https://emn178.github.io/online-tools/sha1_checksum.html</sha1-tool>
    </plugin>
  </plugins>
</extensions>
